@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root {
    --cor-Primaria:black;
    --cor-Secundaria:white;
    --cor-Tercearia:blueviolet;
    --cor-hover:blueviolet;

    --fonte-principal: 'Oswald', sans-serif;
    --fonte-titulo:'Handjet', cursive;
}

*{
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color:var(--cor-Primaria);
    color: var(--cor-Secundaria);
    /*background-image: url(cyber.jpg);*/
    /* background-size: cover; */
    /* background-repeat: no-repeat;  */
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 50px;
}

.cabecalho__link{
    font-family:var(--fonte-titulo);
    font-size: 1.7rem;
    color: var(--cor-Secundaria);
    background-color: var(--cor-Primaria);
    width: 100px;
    font-weight: 400;
    text-decoration: none;

}
.cabecalho__link:hover{
    color: var(--cor-hover);
}

.ImagemeRdimencionada {
    width: 40%;

}
.apresentacao{
    margin: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap :82px;
    
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.apresentacao__conteudo__titulo{
    font-size: 3rem;
    width: 120%;
    font-family: var(--fonte-titulo);
   
}
.Titulo-destaque {
    color:var(--cor-Tercearia);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-principal);
}
/*span{

    border: 2px solid blueviolet;
    padding: 10px;
}*/
.apresentacao__links{
    display : flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.subtitulo__de__link{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 2rem;

}
.linkando{
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--cor-Tercearia);
    width: 60%;
    text-align: center;
    font-weight: 600;
    border-radius: 16px;
    color:var(--cor-Secundaria);
    font-size: 2rem;
    padding: 10px 0;
    text-decoration: none;
    font-family: var(--fonte-titulo);
    font-weight: 400;
}
.linkando:hover{
    /* background-color: #272727; */
    color:var(--cor-hover);
    padding: 2%;
}
.imagem__link__github{
    width: 10%;
    height: 10%;
}
.imagem__link__Linkedin{
    width: 9%;
    height: 9%;
}
/* .imagem__link__Rede{
    width: 27px;
    height: auto;
} */
.rodape{
    text-align: center;
    color: var(--cor-Primaria);
    background-color: var(--cor-Tercearia);
    font-family:var(--fonte-titulo); 
    padding: 18px;
    font-size: 1.5rem;

}
 
@media(max-width: 1200px){
    .cabecalho__menu{
        justify-content: center;
        gap: 20%;
        border: 3px solid var(--cor-Tercearia);
        border-radius: 8px;
    }
    .cabecalho{
        padding: 8% 0% 0% 0%;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5% 0% 0% ;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .ImagemeRdimencionada{
        width: 70%;
    }
    .cabecalho__link{
        font-size: 2.5rem;
        width: auto;
        color:var(--cor-Tercearia);
        
    }
}
